### Example user template template
### Example user template

# IntelliJ project files
.idea
out
gen
# Created by .ignore support plugin (hsz.mobi)
jspm-leaflet-test1/jspm_packages/
testWitSources/jspm_packages
Leaflet.FileLayer-1/jspm_packages/
/.idea
/springMVC5/.settings
/springMVC5/target
/springMVC5/.classpath
/springMVC5/.project
/springMVC5/.idea
