<html><head>
<meta http-equiv="content-type" content="text/html; charset=windows-1252"></head><body><div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h4 class="modal-title">Login</h4>
    </div>
    <div class="modal-body">
      <form id="contact-form">
        <fieldset>
          <div class="form-group">
            <label for="name">Username:</label>
            <input class="form-control" id="username" type="text">
          </div>
          <div class="form-group">
            <label for="email">Password:</label>
            <input class="form-control" id="password" type="password">
          </div>
        </fieldset>
      </form>
    </div>
    <div class="modal-footer">
      <button type="submit" class="btn btn-primary pull-right" data-dismiss="modal">Login</button>
    </div>
  </div><!-- /.modal-content -->
</div><!-- /.modal-dialog --></body></html>